.sidebar{
    display: flex;
    flex-direction: column;
    width: 35%;
    align-items: center;
    background-color: rgb(170, 169, 166);
  justify-content: start;
    h1{
        color: red
        ;
    }
   
}